h2 {
	border: 1px solid black;
	padding: 3px 2px;
}

.meal,
.charges,
.earnings {
	border: 1px solid black;
	border-radius: 10px;
	margin: 15px;
	padding: 0 5px 15px 5px;
	width: 40%;
	float: left;
}

.animate.ng-enter,
.animate.ng-leave.ng-leave-active {
	-webkit-transition: all ease-in-out 1.5s;
  	transition: all ease-in-out 1.5s;
  	margin-left: -9000px;
  	opacity: 0;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
	margin-left: 0;
	opacity: 1;
}